name: Deploy

on:
  push:
    branches: [main]

jobs:
  setup-workspace:
    runs-on: self-hosted
    steps:
      - name: Setup workspace
        run: |
          mkdir -p /opt/furniture
  react-deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Copy source, install dependencies, and build
        run: |
          rm -rf /opt/furniture/React
          cp -r ./React /opt/furniture/React
          echo "${{ secrets.FE_ENV_FILE }}" >> /opt/furniture/React/.env
          cd /opt/furniture/React
          npm install
          npm run build
  node-deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Copy source, install dependencies
        run: |
          rm -rf /opt/furniture/Node
          cp -r ./Node /opt/furniture
          echo "${{ secrets.BE_ENV_FILE }}" >> /opt/furniture/Node/.env
          cd /opt/furniture/Node
          npm install
          sudo systemctl restart node.furniture.service
  start-chroma:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - name: Create Chroma directory and install dependencies
        run: |
          mkdir -p /opt/furniture/Chroma
          cp -r ./Chroma /opt/furniture
          cd /opt/furniture/Chroma
          python3 -m venv venv
          source ./venv/bin/activate
          pip install -r requirements.txt
          sudo systemctl restart chroma.furniture.service
